# Build output
/target/

# Dependency directory
/Cargo.lock

# Rust build artifacts
*.rs.bk

# IDE and editor files
.idea/
.vscode/
*.swo
*.swp

# Operating system files
.DS_Store
Thumbs.db

# Optional: Local environment settings
.env

src/config/config.json
GeoLite2-City.mmdb
